.header {
  padding: 93px 51px 90px;
  display: grid;
  grid-template-columns: 1fr 140px 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-right: 40px;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.nav__link {
  text-underline-offset: 3px;
}

.nav__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link__logo-image {
  width: min-content;
  height: min-content;
  display: block;
  margin: auto;
}

.header__logo-image {
  width: 138px;
}

.header__address {
  justify-self: end;
  padding-right: 35px;
}

.address {
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
  font-size: 18px;
}

.address__link {
  display: block;
}

.cover {
  position: relative;
  display: flex;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  width: 1100px;
  min-height: 757px;
  z-index: -1;
}

.overlay {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__indents {
  padding: 167px 50px 45px;
}

.cover__title {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 1000px;
  position: relative;
  z-index: 1;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  justify-self: center;
  display: inline;
  padding-top: 6px;
}

.aligned-text_right {
  justify-self: end;
  display: inline;
  padding-top: 5px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding-top: 127px;
  align-items: center;
}

.cover__description-text {
  line-height: 28px;
  text-indent: 28px;
  word-spacing: 19px;
  vertical-align: bottom;
}

.cover__description-text-view {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  color: #fff;
  padding: 11px 31px;
  border: 1px solid currentColor;
  vertical-align: top;
  font-family: Raleway, sans-serif;
}

.lots {
  padding: 180px 24px 2px;
  margin-bottom: 145px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  text-indent: 40px;
  padding-bottom: 25px;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 25px;
  row-gap: 25px;
  padding-top: 2px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  list-style: none;
  flex-grow: 1;
  width: 334px;
  height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  display: flex;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.flex-lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  font-size: 20px;
  text-underline-offset: 4px;
  text-indent: 40px;
  display: block;
  padding-top: 1px;
}

.about__logo {
  grid-area: about__logo;
  display: flex;
  width: 240px;
  height: 240px;
  place-items: center;
  background-color: black;
  border-radius: 50%;
  padding-top: 2px;
}

.about__right__column__title {
  grid-area: about__right__column__title;
  align-self: center;
  padding-top: 8px;
}

.about__text__block {
  grid-area: about__text__block;
  padding-top: 8px;
}

.par__space {
  margin-bottom: 25px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "about__logo about__right__column__title ."
    "about__logo about__text__block about__text__block"
    ".           about__text__block about__text__block";
  column-gap: 25px;
  padding-top: 35px;
  padding-left: 27px;
  padding-right: 30px;
  margin-bottom: 178px;
}

.about__column {
  display: grid;
  place-items: center;
  align-self: center;
  justify-self: center;
}

.about__logo-image {
  width: 148px;
  margin: auto;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 155px 1fr;
  justify-items: stretch;
  font-size: 18px;
  padding-bottom: 87px;
}

.footer__address {
  padding-left: 51px;
  text-underline-offset: 3px;
}

.footer__menu {
  display: flex;
  padding-top: 2px;
}

.footer__menu-list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item,
.footer__social-list {
  list-style: none;
}

.footer__menu-link_active,
.footer__menu-link {
  display: block;
}

.footer__social-list {
  display: flex;
  width: 240px;
  justify-self: end;
  justify-content: flex-end;
  gap: 48px;
  padding-top: 2px;
  padding-right: 50px;
}

.footer__social-icon {
  width: 48px;
}
